.contenedor{
    background-color: rgb(249, 249, 252);
    width: 90%;
    margin: 0px auto;
    display: flex;
    gap: 10px;
}
.container-title{
    color: rgb(14, 13, 13);
    font-size: 20px;
}


.contenedor-parafo{
    width: 85%;
    padding: 20px;
}
.parafo{
    font-family: 'Poppins';
    font-weight: 300;
    line-height: 30px;
}

.text{
    font-size: 23px;
    margin-left: 0px;
    margin-top: 0px;
}

strong{
    color: #d1d626;
    font-weight: 500;
}
.react-chatbot-kit-chat-btn-send{
    background-color: #bfc506!important;
    width: 100px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
}

.react-chatbot-kit-chat-bot-avatar-container{
    background-color: #bfc506!important;
}

.chat-img{
    width: 55px;    
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.chatbot{
    display: flex;
    gap: 20px;
    align-items: center;
}

.chat-btn{
    background-color: #89bbf2;
    padding: 10px;
    cursor: pointer;
    border-radius: 24px;
    font-weight: 300;
}

.chat-btn:hover{
    text-decoration: underline;
}

.card-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0px auto;
}

.card{
    display: flex;
    flex-direction: column;
    height: 94px;
    align-items: center;
    border-radius: 10px;
}